@use '../utils/mixins' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include flex-full(center, center);
  min-height: 100vh;

  @media (min-widtth: 900px) {
    padding: 2rem;
  }
}